/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color:#f59f0c;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: left;
    padding: 20px 20px;
    text-decoration: none;
    
  
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  